*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(216, 216, 216); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #222;
    font-family: 'Oswald', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background: #ddd;
    box-shadow:  0 6px 6px #444;
}

.header{
    
    padding: 12px auto 12px 30px;
}



